{% extends 'nailsite/base.html' %}
{% load static %}
{% block content %}

<main>
	<section>
  		<div class="container class_form bottom">
  			<h2 style="color: #DAA520;">Оставь заявку:</h2>
  			<div class="row justify-content-center gy-5">
				<form action="{% url 'thanks_page' %}" method="POST" style="width: 30%;">
					  {% csrf_token %}
					  <div class="form-group row">
							<label for="inputEmail3" class="col-sm-2 col-form-label" style="color: #DAA520;">Имя</label><br>
							  {{ form.name }}
							<div class="">
							</div>
					  </div>
					  <div style="margin-bottom: 5px;" class="form-group row">
							<label for="inputEmail3" class="col-sm-2 col-form-label" style="color: #DAA520;">Телефон</label><br>
							  {{ form.phone }}
							<div class="">
						</div>
					  </div>
					  <div style="float: right; margin: 10px;" class="form-group row">
						  <button type="submit" class="nav-a btn-a">ОСТАВИТЬ ЗАЯВКУ</button>
					  </div>
				</form>
			</div>
  		</div>
  	</section>
<section>
        <div class="container">
			<div class="row gy-5">
				<h2 style="color: #DAA520;">Предлагаемые услуги:</h2>
				{% for service in services %}
				<div class="col-12 bottom">
					<h3 class="services_title">{{ service.title }}</h3>
					{% if service.images %}
					<img src="{{ service.images.url }}" alt="services images" class="services_images">
					{% endif %}
					<p class="services_description">{{ service.description }}</p>
				</div>
				{% endfor %}
			</div>

    </div>

</section>

</main>


{% endblock %}