{% extends 'nailsite/base.html' %}
{% load static %}
{% block content %}

<main>
    <h1>#ноХти</h1>

    <div class="services">
        <h2>Предлагаемые услуги:</h2>
        {% for service in services %}
        <h3 class="services_title">{{ service.title }}</h3>
        {% if services.images %}
        <img src="{{ service.images.url }}" alt="services images" class="services_images">
        {% endif %}
        <p class="services_description">{{ service.description }}</p>
        {% endfor %}
    </div>
</main>


{% endblock %}