{% load static %}

<header>
    <div class="navbar">
        <a href="/" class="logo">
            <img src="{% static 'images/logo.svg' %}" alt="#noHti logo">
        </a>
        <ul class="nav">
                <li><a href="{% url 'index' %}" class="menu_button">Услуги</a></li>
                <li><a href="{% url 'nailsite' %}" class="menu_button">Галерея работ</a></li>
                <li><a href="#" class="menu_button">Контакты</a></li>
                <li><a href="#" class="menu_button">Календарь</a></li>
                <li><a href="#" class="menu_button">Отзывы</a></li>
                <li><a href="#" class="log_button">Войти</a></li>
            </ul>
    </div>
</header>