{% load static %}

<header>
  <div class="container">
    <div class="row">
      <ul class="nav nav-pills nav-justified">
        <li class="nav-item nav-a">
          <a class="nav-a" href="{% url 'index' %}">Услуги</a>
        </li>
        <li class="nav-item nav-a">
          <a class="nav-a" href="{% url 'nailsite' %}">Галерея</a>
        </li>
        <li class="nav-item nav-a">
          <a class="nav-a" href="{% url 'about' %}">Контакты</a>
        </li>
        <li class="nav-item nav-a">
          <a class="nav-a" href="{% url 'review' %}">Отзывы</a>
        </li>
        {% if user.is_authenticated %}

        <li class="nav-item nav-a">
          <a class="nav-a" href="{% url 'calendar' %}">Календарь</a>
        </li>
        <li class="nav-item nav-a">
          <form action="{% url 'logoutuser' %}" method="post">
            {% csrf_token %}
            <button class="nav-a btn-a">Выйти</button>
          </form>
        </li>

        {% else %}
        <li class="nav-item nav-a">
          <a class="nav-a" href="{% url 'loginuser' %}">Войти</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</header>
