{% extends 'nailsite/base.html' %}

{% block content %}
<section>
<div class="container">
    <div class="row justify-content-center gy-5">
        <h2>Отзывы</h2>
        {% if request.user.is_authenticated %}
        <form class="bottom" action="{% url 'review' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
            <label for="exampleFormControlTextarea1" class="form-label color">
                {{ field.label }}:
                {{ field }}
            </label>
            {% endfor %}
            <input type="submit" class="nav-a btn-a" style="width: 350px; margin: 10px;" value="Оставить отзыв">
        </form>
        {% else %}
        <a href="{% url 'loginuser' %}">Пожалуйста авторизуйтесь, чтобы оставить отзыв</a>
        {% endif %}
    </div>
</div>
</section>

<section>
    <div class="container">
        <div class="row gy-5">
            {% for rev in reviews  %}
                <h4 class="color">{{rev.owner.first_name}} ({{ rev.created }}):</h4>
                <p class="color bottom">{{ rev.body|linebreaksbr }}</p>
            {% endfor %}
        </div>
    </div>
</section>

{% if reviews %}
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if reviews.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ reviews.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    {% if reviews.has_other_pages %}
    {% for page in reviews.paginator.page_range %}
    <li class="page-item {% if page == reviews.number %} active {% endif %}"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
    {% endfor %}
    {% endif %}
    {% if reviews.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ reviews.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}


{% endblock %}
