{% extends 'nailsite/base.html' %}
{% load static %}
{% block content %}
<main>
  <div class="works">
    {% for image in nailsite %}
    <img class="images" src="{{ image.images.url }}" alt="works">
    {% endfor %}
</div>
</main>
{% if nailsite %}
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if nailsite.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ nailsite.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true" class="color">&laquo;</span>
      </a>
    </li>
    {% endif %}
    {% if nailsite.has_other_pages %}
    {% for page in nailsite.paginator.page_range %}
    <li class="page-item {% if page == nailsite.number %} active {% endif %}"><a class="page-link color" href="?page={{ page }}">{{ page }}</a></li>
    {% endfor %}
    {% endif %}
    {% if nailsite.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ nailsite.next_page_number }}" aria-label="Next">
        <span aria-hidden="true" class="color">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}

{% endblock %}