*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    max-width: 1600px;
    min-height: 100vh;
    background-color: black;
    /* background-image:  url(/static/images/background.jpg) no-repeat; */
}
header{
    height: 20%;
    /* border: 1px solid red; */
    margin-bottom: 20px;
}
main{
    height: 80%;
    /* border: 1px solid blue; */
    margin: 50px;
}
.banner{
  display: flex;
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
  overflow: hidden;
  justify-content: center;
}

/* Навигационное меню */
.nav-a{
  color: black;
  text-decoration: none;
  background-color: #DAA520;
  display: block;
  border-radius: 5px;
}
.nav-a:hover{
  background-color: rgb(87, 63, 3);
}
.btn-a{
  border: none;
  width: 100%;
}

.logo{
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.navbar{
    display: flex;
    justify-content: center;
}
.nav{
    display: inline-flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.menu_button{
    text-decoration: none;
    font-size: 20px;
    color: #DAA520;
    background-color: rgb(45, 45, 44);
    padding: 5px;
    border-radius: 8px;
}
.menu_button:hover{
    color: darkgoldenrod;
}
.log_button button{
    background: transparent;
    border: none;
    padding: 0;
}
.log_button{
    text-decoration: none;
    font-size: 25px;
    background-color: #DAA520;
    color: black;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
}
.log_button:hover{
    color: #DAA520;
    background-color: black;
}

/* Index */

h2{
    color: #DAA520;
    margin-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.services{
    display: flexbox;
    /* margin-left: 50px; */
    justify-content: center;
    align-items: center;
}
.services h2{
    color: darkgoldenrod;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}
.services-div{
  width: 100%;
  height: auto;
  margin: 50px;
  overflow: hidden;
}
.services_description{
    color: #DAA520;
    margin-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
.services_title{
    color: rgb(255, 183, 0);
    margin-bottom: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
.services_images{
    width: 400px;
    height: auto;
    float: right;
    /* margin: 20px; */
}

/* Логин */
.login_title{
    align-items: center;
}
.error{
    color: red;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.login label{
    color: #DAA520;
    margin-right: 10px;
}
.login input{
    width: 200px;
    height: 30px;

}
.login button{
    width: 200px;
    height: 30px;
    background-color: #DAA520;
    color: black;
    border-radius: 8px;
    cursor: pointer;
    align-items: center;
} 

/* Галерея работ */

.works {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.images {
    max-width: 300px;
    width: auto;
    height: auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    border: 2px solid #DAA520;
    border-radius: 8px;
    }



/* Отзывы */
.reviews{
    border: 1px solid white;
    width: 300px;
    height: 300px;
}
.reviews p{
    /* color: white; */
    font-size: 18px;
    padding-bottom: 10px;
}
.reviews h3{
    /* color: whitesmoke; */
    font-size: 20px;
    padding-bottom: 5px;
}

/* work_calendar */


.left {
  float: left;
}

.right {
  float: right;
}

.btn {
  outline: none;
  color: black;
  background-color: #DAA520;
  border: #DAA520;
  box-shadow: 0 0 0 0;
  margin-right: 3px;
}
.btn:hover{
  background-color: rgb(87, 63, 3);
}

.clearfix {
  margin: 15px;
}

.form {
  margin: auto;
}

.form input, .form select, .form textarea {
  border-radius: 5px;
  border: 1px solid #DAA520;
  outline: none;
  background: none;
  padding: 5px;
  width: 100%;
}

/* App styles */
.title {
  text-align: center;
  margin: 10px;
  color: #DAA520;
}

.calendar {
  width: 98%;
  margin: auto;
  font-size: 13px;
  color: #DAA520;
}

.calendar tr, .calendar td {
  border: 1px solid #DAA520;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
  color: #DAA520;
}

.calendar td {
  width: 200px;
  height: 150px;
  padding: 20px 0px 0px 5px;
}

.month {
  font-size: 25px;
}

.date {
  font-size: 16px;
}

ul {
  height: 100%;
  padding: 0px 5px 0px 20px;
}

a {
  color: #17a2b8;
}

.map img{
  margin-bottom: 10px;
}

/* ================= */
.color{
  color: #DAA520;
}
.bottom{
  border-bottom: 1px solid #DAA520;
  margin: 10px;
}
