*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    max-width: 1600px;
    min-height: 100vh;
    background-color: #110011;
    /* background-image:  url(/static/images/background.jpg) no-repeat; */
}
header{
    height: 20%;
    /* border: 1px solid red; */
    margin-bottom: 20px;
}
main{
    height: 80%;
    /* border: 1px solid blue; */
    margin: 50px;
}

/* Навигационное меню */

.logo{
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.navbar{
    display: flex;
    justify-content: center;
}
.nav{
    display: inline-flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}
/* .nav li{
    list-style-type: none;
    box-sizing: border-box;
} */
.menu_button{
    text-decoration: none;
    font-size: 20px;
    color: #DAA520;
    background-color: rgb(45, 45, 44);
    padding: 5px;
    border-radius: 8px;
}
.menu_button:hover{
    color: darkgoldenrod;
}
.log_button{
    text-decoration: none;
    font-size: 25px;
    background-color: #DAA520;
    color: black;
    padding: 5px;
    border-radius: 8px;
}
.log_button:hover{
    color: #DAA520;
    background-color: black;
}

/* Index */

h1{
    color: #DAA520;
    margin-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.services{
    display: flexbox;
    /* margin-left: 50px; */
    justify-content: center;
    align-items: center;
}
.services h2{
    color: darkgoldenrod;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}
.services_description{
    color: #DAA520;
    margin-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
.services_title{
    color: rgb(255, 183, 0);
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
.services_images{
    width: 500px;
    height: 300px;
    float: right;
    margin: 20px;
}

/* Логин */
.login_title{
    align-items: center;
}
.error{
    color: red;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.login label{
    color: #DAA520;
    margin-right: 10px;
}
.login input{
    width: 200px;
    height: 30px;

}
.login button{
    width: 200px;
    height: 30px;
    background-color: #DAA520;
    color: black;
    border-radius: 8px;
    cursor: pointer;
} 

/* Галерея работ */

.works {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.images {
    max-width: 300px;
    width: auto;
    height: auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    border: 2px solid;
    border-radius: 8px;
    }

/* .works{
    display: grid;
    grid-template-columns: repeat(auto-fit, 145px);
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    transition: grid-auto-flow 0.3s ease-in-out;
    gap: 10px;
    
}

.images {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid;
  border-radius: 8px;
}

.works .images {
  grid-column: span 2 / auto;
  grid-row: span 2 / auto;
} */

/* .gallery .h2 {
  grid-row: span 2 / auto;
} */